<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<h1>Raffique Muir</h1>
<p>I am a Electronics and Computer Science Bsc student and also have been working as software developer for the past 4 year at Vim Enterprize.
    For Extra-corricular activities i have been involved with IEEE Robotics team from 2014-2017. 
    Artifical Intelligence and robotics are my main interest however Jamaica doesnt have the market to fully explore these fields as of yet.
</p>
</body>
</html>